$enable-negative-margins: true;
$color-scheme: 'dark';

$white: #fff !default;
$gray-100: hsl(199, 10%, 97%) !default;
$gray-200: hsl(199, 12%, 89%) !default;
$gray-300: hsl(199, 15%, 82%) !default;
$gray-400: hsl(199, 18%, 74%) !default;
$gray-500: hsl(56, 22%, 60%) !default;
$gray-600: hsl(287, 27%, 37%) !default;
$gray-700: hsl(227, 33%, 24%) !default;
$gray-800: hsl(207, 25%, 21%) !default;
$gray-900: hsl(203, 45%, 10%) !default;
$black: #000 !default;

$blue: #0d6efd !default;
$indigo: #9d00ff !default;
$purple: #770043 !default;
$pink: #FF0A7D !default;
$darkpink: #c9006f!default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #00c8a3 !default;
$teal: #97ffcb !default;
$cyan: #6afaff !default;

$separator-color: #173244 !default;

$primary: $cyan !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-400 !default;
$dark: $gray-900 !default;

$min-contrast-ratio: 4.5 !default;
$color-contrast-dark: $dark !default;
$color-contrast-light: $light !default;

// Make it dark

$body-bg: $gray-900 !default;
$body-color: $gray-100 !default;
$modal-content-bg: $gray-900 !default;
$dropdown-bg: $gray-900 !default;

$border-width: 1px !default;
$border-color: $separator-color !default;
$border-radius: .25rem !default;

$box-shadow: 0 1px 3px rgba(black, 0.1), 0 0.5rem 1rem rgba(black, 0.5) !default;
$box-shadow-sm: 0 1px 3px rgba(black, 0.05), 0 0.25rem 0.5rem rgba(black, 0.5) !default;
$box-shadow-lg: 0 1px 3px rgba(0, 0, 0, 0.25), 0 0.75rem 1.5rem rgba(0, 0, 0, 0.5) !default;

$text-muted: $gray-600 !default;

$link-color: $primary !default;
$link-hover-color: $pink !default;
$link-decoration: none !default;

$navbar-dark-brand-color: $teal !default;
$navbar-dark-brand-hover-color: $navbar-dark-brand-color !default;

$nav-tabs-border-color: $separator-color !default;
$nav-tabs-border-width: $border-width !default;
$nav-tabs-link-hover-border-color: transparent !default;
$nav-tabs-link-active-color: $link-color !default;
$nav-tabs-link-active-bg: $separator-color !default;
$nav-tabs-link-active-border-color: $nav-tabs-link-active-bg $nav-tabs-link-active-bg $nav-tabs-link-active-bg !default;

$dropdown-link-hover-bg: mix(white, $primary, 75%) !default;
$dropdown-link-color: #fff;
$dropdown-link-hover-color: #000;

$table-border-width: 0 !default;

$component-active-bg: $pink;
$input-btn-focus-color-opacity: 0.5 !default;

$input-bg: hsl(hue($light), saturation($dark), lightness(lighten($dark, 5%))) !default;
$input-border-color: $input-bg !default;

$input-focus-bg: $darkpink;

$input-disabled-bg: rgba($input-bg, 0.70) !default;
$input-disabled-border-color: null !default;

$input-placeholder-color: rgba($body-color, 0.5) !default;

$input-invalid-bg: mix($danger, $input-bg, 25%) !default;
$form-check-input-bg: mix($input-bg, $white) !default;
$form-check-input-border: none !default;

$form-select-disabled-bg: $input-disabled-bg !default;
$form-select-disabled-border-color: $input-disabled-border-color !default;

@font-face {
    font-family: 'salomeitalic';
    src: url('assets/salome_italic-webfont.woff2') format('woff2'),
         url('assets/salome_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@600&family=Overpass:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&display=swap');

// Bootstrap icon fonts
@font-face {
    font-family: "bootstrap-icons";
    src: url("assets/bootstrap-icons.woff2?856008caa5eb66df68595e734e59580d") format("woff2"),
    url("assets/bootstrap-icons.woff?856008caa5eb66df68595e734e59580d") format("woff");
}

$font-heading: 'salomeitalic', sans-serif !default;
$font-family-sans-serif: 'Overpass', sans-serif !default;
$font-family-monospace: 'Overpass mono', monospace !default;
